- defaults:
    link:
      create: true
      relink: true
      force: true
- shell:
    - [sh -c "scripts/install_nvchad", "Installing nvchad"]
- link:
    ~/.config/nvim/init.lua: files/nvchad/init.lua
    ~/.config/nvim/lua/chadrc.lua: files/nvchad/chadrc.lua
    ~/.config/nvim/lua/plugins/init.lua: files/nvchad/plugins.lua
    ~/.config/nvim/lua/mappings.lua: files/nvchad/mappings.lua
    ~/.config/nvim/lua/custom/configs/lspconfig.lua: files/nvchad/lspconfig.lua
