- defaults:
    link:
      create: true
      relink: true
      force: true
- clean:
    ~/:
      force: true
    ~/.config:
      recursive: true
- link:
    ~/.gitconfig: files/.gitconfig
    ~/.gitignore: files/.gitignore
    ~/.aliases: files/.aliases
    ~/.functions: files/.functions
    ~/.zshrc: files/.zshrc
    ~/.gemrc: files/.gemrc
    ~/.config/topgrade.toml: files/topgrade.toml
    ~/.config/ghostty/config: files/ghost
    ~/.config/starship.toml: files/starship.toml
    # ~/.config/zed/keymap.json: files/zed/keymap.json
    # ~/.config/zed/settings.json: files/zed/settings.json
    ~/.config/zellij/config.kdl: files/zellij/config.kdl
    ~/.config/zellij/layouts/default.kdl: files/zellij/layout.kdl
    ~/.yamlfmt: files/yamlfmt
- shell:
    - [sh -c "scripts/install_zsh_plugins", "Installing zsh plugins..."]
