alias btg="bin/tapioca gem"
alias btd="bin/tapioca dsl"
alias berd="bundle exec rubocop -D"
alias bera="bundle exec rubocop -A"
# alias berd="git ls-files -m --others --exclude-standard | xargs ls -1 2>/dev/null | grep '\.rb$' | xargs bundle exec rubocop -D"
# alias beru="git ls-files -m --others --exclude-standard | xargs ls -1 2>/dev/null | grep '\.rb$' | xargs bundle exec rubocop -A"
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"
alias genpasswd="shuf -n 4 /usr/share/dict/words | tr '\n' ' ' | tr '[:upper:]' '[:lower:]' | sed 's/^[ \t]*//;s/[ \t]*$//'| pbcopy"
alias lla='ls -al'
alias merge_main="git fetch origin && git merge origin/main"
alias merge_master="git fetch origin && git merge origin/master"
alias rebase_main="git fetch origin && git rebase origin/main"
alias rebase_master="git fetch origin && git rebase origin/master"
alias s="spin"
alias sc="spin code"
alias sd="spin destroy"
alias sl="spin list"
alias so="spin open"
alias ss="spin shell"
alias t="bundle exec rake test"
alias tg="topgrade"
alias zshconfig="code ~/.zshrc"
