alias bcp="brew cleanup --prune=all"
alias btg="bin/tapioca gem"
alias btd="bin/tapioca dsl"
alias ber="bundle exec rspec"
alias berd="bundle exec rubocop -D"
alias bera="bundle exec rubocop -A"
alias cat='bat --paging=never' # cat with syntax highlighting
alias hla="haml-lint -A"
alias clear_swap="rm -rf ~/.local/state/nvim/swap/*.*"
alias berdd="git ls-files -m --others --exclude-standard | xargs ls -1 2>/dev/null | grep '\.rb$' | xargs bundle exec rubocop -D"
alias beru="git ls-files -m --others --exclude-standard | xargs ls -1 2>/dev/null | grep '\.rb$' | xargs bundle exec rubocop -A"
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"
alias genpasswd="shuf -n 4 /usr/share/dict/words | tr '\n' ' ' | tr '[:upper:]' '[:lower:]' | sed 's/^[ \t]*//;s/[ \t]*$//'| pbcopy"
alias merge_main="git fetch origin && git merge origin/main"
alias merge_master="git fetch origin && git merge origin/master"
alias oc="overmind c"
alias rebase_main="git fetch origin && git rebase origin/main"
alias rebase_master="git fetch origin && git rebase origin/master"
alias sp="spotify"
alias t="bundle exec rake test"
alias tg="topgrade"
alias z="zed ."
alias zshconfig="code ~/.zshrc"

alias hrcp="heroku run STATEMENT_TIMEOUT=120000 RAILS_LOG_LEVEL=info SCOUT_LOG_LEVEL=WARN APPOPTICS_DEBUG_LEVEL=WARN JUDOSCALE_LOG_LEVEL=WARN IRB_USE_AUTOCOMPLETE=false IRB_USE_COLORIZE=true VIA_USER=luiz@viaeurope.com bundle exec rails console -a=viaeurope-production"
alias hrcs="heroku run STATEMENT_TIMEOUT=120000 RAILS_LOG_LEVEL=info SCOUT_LOG_LEVEL=WARN APPOPTICS_DEBUG_LEVEL=WARN JUDOSCALE_LOG_LEVEL=WARN IRB_USE_AUTOCOMPLETE=false IRB_USE_COLORIZE=true VIA_USER=luiz@viaeurope.com bundle exec rails console -a=viaeurope-staging"
