alias bcp="brew cleanup --prune=all"
alias btg="bin/tapioca gem"
alias btd="bin/tapioca dsl"
alias ber="bundle exec rspec"
alias bera="bundle exec rubocop -A"
alias berd="bundle exec rubocop -D"
alias berdd="git ls-files -m --others --exclude-standard | xargs ls -1 2>/dev/null | grep '\.rb$' | xargs bundle exec rubocop -D"
alias berm="git ls-files --modified --others spec/**/*_spec.rb | xargs bundle exec rspec"
alias beru="git ls-files -m --others --exclude-standard | xargs ls -1 2>/dev/null | grep '\.rb$' | xargs bundle exec rubocop -A"
alias cat='bat --paging=never' # cat with syntax highlighting
alias clear_swap="rm -rf ~/.local/state/nvim/swap/*.*"
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"
alias gcupdate="git commit -am '(chore) updates'"
alias gg="lazygit"
alias hla="haml-lint -A"
alias kar="kamal accessory reboot"
alias karm="kamal accessory remove ${1} -y"
alias merge_main="git fetch origin && git merge origin/main"
alias merge_master="git fetch origin && git merge origin/master"
alias pip="/usr/bin/pip3"
alias python="/usr/bin/python3"
alias oc="overmind c"
alias rebase_main="git fetch origin && git rebase origin/main"
alias rebase_master="git fetch origin && git rebase origin/master"
alias sp="spotify"
alias t="bundle exec rake test"
alias tfaa="terraform apply -auto-approve"
alias tfda="terraform destroy -auto-approve"
alias tg="topgrade"
alias z="zed ."
alias zshconfig="code ~/.zshrc"

alias hrcp="heroku run STATEMENT_TIMEOUT=120000 RAILS_LOG_LEVEL=info SCOUT_LOG_LEVEL=WARN APPOPTICS_DEBUG_LEVEL=WARN JUDOSCALE_LOG_LEVEL=WARN IRB_USE_AUTOCOMPLETE=false IRB_USE_COLORIZE=true VIA_USER=luiz@viaeurope.com bundle exec rails console -a=viaeurope-production"
alias hrcs="heroku run STATEMENT_TIMEOUT=120000 RAILS_LOG_LEVEL=info SCOUT_LOG_LEVEL=WARN APPOPTICS_DEBUG_LEVEL=WARN JUDOSCALE_LOG_LEVEL=WARN IRB_USE_AUTOCOMPLETE=false IRB_USE_COLORIZE=true VIA_USER=luiz@viaeurope.com bundle exec rails console -a=viaeurope-staging"
alias hrcsb="heroku run STATEMENT_TIMEOUT=120000 RAILS_LOG_LEVEL=info SCOUT_LOG_LEVEL=WARN APPOPTICS_DEBUG_LEVEL=WARN JUDOSCALE_LOG_LEVEL=WARN IRB_USE_AUTOCOMPLETE=false IRB_USE_COLORIZE=true VIA_USER=luiz@viaeurope.com bundle exec rails console -a=viaeurope-sandbox"
