function squashit() {
  local main_branch="${1:-main}"

  to_squash=$(git symbolic-ref --short -q HEAD)
  echo "Squashing ${to_squash}..."

  echo "Going back to main and refresh it..."
  git checkout -q $main_branch
  git pull -q origin $main_branch

  echo "Done. Going to a temp branch..."
  temp_branch="temp-${RANDOM}"

  echo "Creating temp branch ${temp_branch}..."
  git checkout -b $temp_branch

  echo "Done. Squashing ${to_squash}..."
  git merge --squash $to_squash

  echo "Squashed. Committing..."
  git commit -am "Squashed $to_squash"

  git checkout $to_squash
  git reset --hard $temp_branch

  echo "All done, deleting $temp_branch"
  git branch -D $temp_branch
}

function reload(){
  echo "Reloading..."
  source ~/dotfiles/files/.zshrc
}

function lon(){
  echo '{"id":1,"method":"setState","params":{"state":true}}' | nc -u -w 1 192.168.178.20 38899
}

function loff(){
  echo '{"id":1,"method":"setState","params":{"state":false}}' | nc -u -w 1 192.168.178.20 38899
}
