[pull]
	rebase = false
[user]
	name = Luiz Eduardo Kowalski
	email = luizeduardokowalski@gmail.com
[core]
  pager = less -F -X
	excludesfile = ~/.gitignore
	; editor = nvim
[include]
	path = ~/.config/dev/gitconfig
[merge]
    conflictstyle = diff3
[diff]
    external = /opt/homebrew/bin/difft
    colorMoved = default
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
  autoSetupRemote = true
[init]
	defaultBranch = main
[diff "lockb"]
	textconv = bun
	binary = true
[credential]
	helper = osxkeychain
